/* --- איפוס כללי כדי שהרקע יתפוס את כל המסך --- */
html, body, #root {
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin: 0;
  padding: 0;

}


.page-container {
  display: flex;
  justify-content: center; /* מרכוז לרוחב */
  align-items: center;     /* מרכוז לגובה */
  min-height: 100vh;       /* גובה מינימלי של מסך מלא */
  width: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); /* הגרדיאנט */
  padding: 20px;           /* מרווח למובייל כדי שלא יידבק לקצוות */
}

