
.forgot-title {
    color: #08155a; 
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1vh;
}

.forgot-subtitle {
    color: #08155a;
    margin-bottom: 4vh;
    font-size: 1.5rem;
}


.forgot-inputs {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    width: 80%; 
    margin-bottom: 3vh;
}

.forgot-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    width: 40%;
    margin-top: 1vh;
}


