
.home-card {
    background: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    
    padding: 5vh 4vw;
    width: 50vw; 
    min-width: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
  
    animation: zoomIn 0.6s ease-out;
}


.greeting-text {
    font-size: 5vh;
    font-weight: 700;
    margin-bottom: 1vh;
    text-shadow: 0 4px 10px rgba(0,0,0,0.2);
    color: #08155a;
}

.welcome-text {
    font-size: 2.5vh;
    font-weight: 300;
    margin-bottom: 5vh;
    color: #08155a;
    letter-spacing: 1px;
}


.logout-section {
    width: 100%;
    display: flex;
    justify-content: center;
}


.logout-section button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 65, 108, 0.7);
}

