@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



.page-container
 {
    height: 100vh; 
    width: 100vw; 
    display: flex;
    justify-content: center; 
    align-items: center;    
   
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: 'Poppins', sans-serif; /* שימוש בפונט החדש */
    overflow: hidden;
}


.card 
{
    background-color: rgba(255, 255, 255, 0.95); 
    padding: 5vh 4vw;
    border-radius: 2vh; 
    box-shadow: 0 2vh 5vh rgba(0,0,0,0.4); 
    width: 40vw; 
    min-width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-title
 {
    font-size: 3.5vh;
    color: #08155a;
    margin-bottom: 0.5vh;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.sub-title 
{
   font-size: 2vh;
    color: #08155a;
    margin-bottom: 4vh;
    font-weight: 300;
    letter-spacing: 1px;
}


.inputs-section 
{
    display: flex;
    flex-direction: column;
    gap: 3vh; 
    width: 80%; 
    margin-bottom: 3vh;
}


.buttons-row
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw; 
    margin-top: 2vh;
    width: 100%;
}
.header
{
  font-size: 1.2vh; 
    color: #08155a;
    margin-bottom: vh;
    font-weight: 700;
     margin-top: 5vh;
}

