

.welcoming-label {
    font-size: 3vh;
    color: #08155a; 
    font-weight: 600;
    margin-bottom: 3vh;
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
}


.register-form-container {
    display: flex;
    flex-direction: column;
    gap: 2vh; 
    width: 100%;
    margin-bottom: 3vh;
}





.register-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    width: 100%;
    align-items: center;
}



